.strattic-modal {
	width: 50%;
	height: 200px;
	position: fixed;
	top: 30px;
	left: 50%;
	margin-left: -25%;
	background: #fff;
	box-shadow: 0px 0px 11px silver;
	border: 1px solid rgb(189, 189, 189);
}
.strattic-modal-close {
	position: absolute;
	right: 0.5em;
	top: 0.5em;
}
.strattic-modal-title {
	padding-left: 1em;
	background: #eee;
	margin: 0;
	padding: 0.8em 1em;
}
.strattic-modal-content {
	padding: 1em;
}
.strattic-progress-bar {
	border: 1px solid #999;
	padding: 2px;
}
.strattic-progress-meter {
	background: #1074A8;
	width: 20px;
	text-align: center;
	color: #fff;
	display: inline-block;
	padding: 10px 0;
	transition: 0.4s cubic-bezier(0.35, 0.95, 0.67, 0.99);
	transition-property: width, background-color;
}
.strattic-progress-meter.strattic-done {
	background-color: #09ab0a;
}


@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.saving span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}